{% extends "base.html" %}

{% block title_page %} Данные объекта {% endblock %}

{% block h1_title %} Все данные объекта {% endblock %}

{% block content %}

{{ super() }}
<p> <p> Название объекта {{ object.name_object }} </p>
    <p>Тип объекта {{ object.type_object }} </p>
    <p>Материал изготовления {{object.material}} </p>
    <p>Сроки изготовления {{ object.date_manufacture }} </p>
    <p> Стоимость объекта {{object.price}} </p>
    <p> Расположение объекта {{object.location}} </p>
</p>


{% include "include/menu_object.html" %}

{% endblock %}

